/*
	Based upon code from discussions at:
		http://stackoverflow.com/questions/12889362/difference-between-id-and-class-in-css-and-when-to-use-it
		http://stackoverflow.com/questions/1397592/difference-between-id-and-name-attributes-in-html
*/

body {
/*	background:#000; */
	color:#000;
	padding:10px;
	margin:0;
/*	font-weight: bold; */
	overflow:hidden;
}

.thumb {
	height: 75px;
	border: 1px solid #000;
	margin: 10px 5px 0 0;
}
a {	color: #eee;	}

file {
	position: absolute;
	right: 0px; height: 100%;
	color: #000;
	padding: 5px;
	font-family:Monospace;
	font-size:13px;
	text-align:left;
	z-index:1000;
}

#fileinfo {
	
	
}

#formarea{
	position: absolute;
/*	float: right;		*/
	font-weight: bold;
	right: 0px;
	top: 0px;
	height: 100%;
	color: #000;
	padding: 0px;
	font-family:Monospace;
	font-size:13px;
	text-align:left;
	z-index:1000;
	width: 600px;
	vertical-align: top;
}

ktable{
	padding: 0px;
	margin-left: 20px;
	margin-right: 20px;
	border-collapse: collapse;
	border: 0px solid black;
}


#tableLabel{
	position: absolute;
	text-align: right;
	width: 200px;
}

#tableButton{
	text-align: left;
	width: 100px;
}

#alignLeft{
	position: float;
	text-align: left;
	left: 0px;
	width: 300px;
	background-color: #000000;
}

#alignRight{
	position: float;
	text-align: right;
	right: 0px;
	width: 500px;
	background-color: #000000;
}

#alignHorizontalCenter{
	vertical-align:		left;
	
}

.none{
}

#webg_canvas{
	background-color: #000000;
}